@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavour

  <h3>Attatch a Treat to @Html.DisplayFor(model => model.Name)</h3>
  <h4>To attach fill out form and save below:</h4>

  <hr/>

  @using(Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavourId)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Attach Treat"/>
  }

<button><p>@Html.ActionLink("Back to list", "Index")</p></button>